#progressBar {
    width: 100%;
    background-color: lightgrey;
}

#progress {
    width: 0%;
    height: 3px;
    background-color: red;
}

.currentTimeSpan {
    color: red;
    font-size: 12px;
}

.totalTimeSpan {
    color: gray;
    font-size: 12px;
}